@define-color bg #000000;
@define-color fg #E6E6E6;
@define-color blue #5BBEFF;
@define-color green #71FF5B;
@define-color purple #A8B7FF;
@define-color red #FF0000;
@define-color orange #FFB300;

/* default style */
* {
	font-family: 'NotoSans Nerd Font', 'Noto Color Emoji', sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	border: none;
	border-radius: 0;
	min-height: 0;
	min-width: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

/* default color */
window#waybar {
	background-color: @bg;
	color: @fg;
}

/* global hover for all modules */
#tray:hover,
#bluetooth:hover,
#network:hover,
#custom-vpn:hover,
#custom-info_tmux:hover,
#custom-info_ssh:hover,
#custom-scratchpad-indicator:hover,
#custom-info_archlinux:hover,
#custom-systemd_failed:hover,
#custom-detect_xwayland:hover,
#mpris:hover,
#pulseaudio:hover,
#custom-keyboard-layout:hover,
#clock:hover {
	color: @blue;
}

/* left modules */
#tray {
	margin-left: 0;
}
#bluetooth {
	margin-left: 5px;
	color: @blue;
	transition: all 0.3s ease;
}
#network {
	margin-left: 5px;
	color: @green;
	transition: all 0.3s ease;
}
#custom-vpn {
	color: @green;
	transition: all 0.3s ease;
}
#custom-info_tmux {
	margin-left: 5px;
}
#custom-info_ssh {
	margin-left: 5px;
}
#custom-scratchpad-indicator {
	margin-left: 5px;
}
#custom-info_archlinux {
	margin-left: 5px;
	color: @purple;
	transition: all 0.3s ease;
}
#custom-systemd_failed {
	margin-left: 5px;
	color: @red;
}
#custom-detect_xwayland {
	margin-left: 5px;
	color: @red;
}

/* right modules */
#workspaces {
	margin-right: 10px;
}
#workspaces button {
	color: @fg;
	margin-right: 20px;
	transition: all 0.3s ease;
	background: @bg;
	border: none;
	box-shadow: none;
}
#workspaces button.active {
	color: #d50000;
}
#workspaces button.urgent {
	color: #95EBFF;
}
#workspaces button:hover {
	color: @blue;
	background: @bg;
	border: none;
	box-shadow: none;
}
#pulseaudio {
	margin-right: 10px;
	transition: all 0.3s ease;
}
#custom-keyboard-layout {
	margin-right: 5px;

}
#clock {
	margin-right: 5px;
}